<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"  href="static/css/background.css">
</head>
<body>
            <div class="bg">
                <div class="neon"><a href="{%url 'leena:all_profile'%}" >LeenApp</a></div>
            </div>

            <div class="follower"></div>

            <div class="fg">
              <div class="plain"></div>
            </div>
<script src="static/js/background.js"></script>

</body>
</html>