<!DOCTYPE html>
<html lang="en">
{%extends 'base.html'%}
<hr>
{%block content%}
<hr>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {%load static%}
    <link rel="stylesheet" type="text/css"  href="static/css/Dashboard.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

<article class="Article">
     <form  class="d-flex" action="{%url 'leena:search_q'%}" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    <hr>
{%for i in profiles%}
  <article class="day-forecast">
     {%if i.image%}
      <img src="{{i.image.url}}" width="50" height="50" class="avatar" alt="{{i.name}}">
      {%endif%}
    <li onclick="window.location = '{%url 'leena:my_profile' i.pk %}'">{{ i.name }}</li>
  </article>
    <hr>
</article>
{%endfor%}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
{%endblock%}